.Wrapper {
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
	overflow: hidden;

	.InnerWrapper {
		width: 100%;
		height: calc(100vh - 5rem);
		overflow-y: scroll;
		background-color: rgba(13, 236, 24, 0.527);
		display: flex;
		flex-direction: column;
        overflow: hidden;

		.Main {
			flex: 1;
		}
	}
}
